[submodule "greengrass_parsec_workshop/aws-greengrass-parsec-provider"]
	path = greengrass_parsec_workshop/aws-greengrass-parsec-provider
	url = https://github.com/anta5010/aws-greengrass-parsec-provider.git
	branch = parsec_ts_demo
